<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>255144107325-f2ko14bg6h0pho073eu9i36dgjm9hnkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.255144107325-f2ko14bg6h0pho073eu9i36dgjm9hnkp</string>
	<key>API_KEY</key>
	<string>AIzaSyCtBgbMT5LlYk9jlzSxF9Bt76yO-mM0tAo</string>
	<key>GCM_SENDER_ID</key>
	<string>255144107325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swFestival</string>
	<key>PROJECT_ID</key>
	<string>sw-festival-5954f</string>
	<key>STORAGE_BUCKET</key>
	<string>sw-festival-5954f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255144107325:ios:ff37e9371cbe2022073954</string>
</dict>
</plist>